@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

@font-face {
  font-family: "Mazius Display";
  src: url("/fonts/MAZIUSREVIEW20.09-Regular.woff");
  src: url("/fonts/MAZIUSREVIEW20.09-Regular.woff2");
}
